[user]
	name = Jan Sandbrink
	email = nobodysnightmare@gmail.com
[push]
	default = simple
	autoSetupRemote = true
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = nano
[rerere]
	enabled = true
[alias]
  co = checkout
  cr = rebase --continue
  pf = push --force-with-lease
	sw = switch
[url "git@codevault.io:"]
	insteadOf = https://codevault.io/
[help]
	autocorrect = prompt
[commit]
	verbose = true

[includeIf "gitdir:~/development/aroundhome/"]
  path = ~/.dotfiles/gitconfig/aroundhome
[includeIf "gitdir:~/development/private/"]
  path = ~/.dotfiles/gitconfig/private
[init]
	defaultBranch = main
[pull]
	ff = only
[fetch]
	prune = true
[rebase]
	autosquash = true
[diff]
	algorithm = histogram
